<div uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 250; repeat: true">
    <div class="uk-card uk-card-default">
        <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-expand">
                    <h3 class="uk-card-title uk-margin-remove-bottom">{{ include.post.title }}</h3>
                    <p class="uk-text-meta uk-margin-remove-top"><time
                            datetime="{{ include.post.date }}">{{ include.post.date }}</time></p>
                </div>
            </div>
        </div>
        <div class="uk-card-body">
            <p>{{ include.post.excerpt }}</p>
        </div>
        <div class="uk-card-footer">
            <a href="{{ include.url }}" class="uk-button uk-button-text">Read more</a>
        </div>
    </div>
</div>