{% assign link_icon_width = "30px" %}
{% assign link_icon_ratio = 1.5 %}
<div>
    <a href="cv">Resume / CV</a>
    <p>You can find me in:</p>
    <a href="https://github.com/ricardobusta"><span style="color:#666" uk-icon="icon: github; ratio: {{ link_icon_ratio }}"/></a>
    <a href="https://busta.itch.io/">{% include icon/itchio.html width=link_icon_width %}</a>
    <a href="https://www.linkedin.com/in/ricardo-bustamante-de-queiroz-31627b87"><span style="color:#0077b7;"
                                                                                       uk-icon="icon: linkedin; ratio: {{ link_icon_ratio }}"/></a>
    <a href="https://twitter.com/ricardobusta"><span style="color:#2f9fef;"
                                                     uk-icon="icon: x; ratio: {{ link_icon_ratio }}"/></a>
    <a href="https://www.threads.net/@ricardobustadev"><span style="color:#888;"
                                                             uk-icon="icon: threads; ratio: {{ link_icon_ratio }}"/></a>
    <a href="https://www.youtube.com/channel/UCpJetW3gb5VhqJOkpbEZYuw"><span style="color: #f50000;"
                                                                             uk-icon="icon: youtube; ratio: {{ link_icon_ratio }}"/></a>
    <a href="mailto:ricardo@busta.dev">{% include icon/gmail.html width=link_icon_width %}</a>

    <a href="https://play.google.com/store/apps/dev?id=7481566864033761721">Busta Dev Google Play</a>

    <a href="https://play.google.com/store/apps/dev?id=7085647263262057841">Busta Games Google Play</a>
</div>