{% assign link_icon_width = "30px" %}
{% assign link_icon_ratio = 1.5 %}
<div>
    <a href="{{ site.data.home.profile.resume_url | relative_url }}">Resume / CV</a>
    <p>{{ site.data.home.profile.social_prompt }}</p>
    {% for link in site.data.home.profile.social_links %}
    <a href="{{ link.url }}">
        {% if link.kind == "uikit" %}
        <span style="color:{{ link.color }}" uk-icon="icon: {{ link.icon }}; ratio: {{ link_icon_ratio }}"></span>
        {% elsif link.kind == "include" %}
        {% assign include_width = link.width | default: link_icon_width %}
        {% if link.include == "icon/itchio.html" %}
        {% include icon/itchio.html width=include_width %}
        {% elsif link.include == "icon/gmail.html" %}
        {% include icon/gmail.html width=include_width %}
        {% endif %}
        {% endif %}
    </a>
    {% endfor %}
</div>
