<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
    <nav class="uk-navbar-container" uk-navbar>
        <ul class="uk-navbar-nav uk-navbar-center">
            <li class="uk-active"><a href="#" uk-scroll>Home</a></li>
            {% assign ordered_sections = site.sections | sort: "priority" %}
            {% for section in ordered_sections offset:1 %}
            <li class="uk-active"><a href="#{{ section.title }}" uk-scroll>{{ section.title }}</a></li>
            {% endfor %}
        </ul>
    </nav>
</div>