{% capture img-year-name %}{{include.data.date | date: "%Y" | append: "-" | append: include.data.slug}}{% endcapture %}

{% assign img0-file = "/assets/projects/" | append: img-year-name | append: "-img0.png" %}
{% assign img0-path = "/assets/projects/default-img0.png" %}
{% assign img1-file = "/assets/projects/" | append: img-year-name | append: "-img1.png" %}
{% assign img1-path = "/assets/projects/default-img1.png" %}

{% for file in site.static_files %}
    {% if file.path == img0-file %}
        {% assign img0-path = img0-file %}
    {% endif %}

    {% if file.path == img1-file %}
        {% assign img1-path = img1-file %}
    {% endif %}
{% endfor %}

<div class="uk-card rb-project-entry">
    <div class="uk-height-medium uk-transition-toggle uk-cover-container uk-background-cover"
         style="background-color: black; background-image: url({{ img0-path }});">
        <div class="uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle uk-transition-scale-up"
             style="background-image: url({{ img1-path }});"></div>
    </div>
    <div class="rb-highlight-1">
        <span><b>{{ include.data.title }}</b></span><br/>
        {{ include.data.event }} - {{ include.data.date | date_to_long_string }}<br />
        {% if include.data.play-url %}
        <a class="uk-button uk-button-default uk-button-small" href="{{ include.data.play-url }}"
           target="_blank"><span uk-icon="play-circle"></span><span> Play</span></a>
        {% endif %}
        {% if include.data.page-url %}
        <a class="uk-button uk-button-default uk-button-small" href="{{ include.data.page-url }}"
           target="_blank"><span uk-icon="link"></span><span> Page</span></a>
        {% endif %}
        {% if include.data.src-url %}
        <a class="uk-button uk-button-default uk-button-small" href="{{ include.data.src-url }}"
           target="_blank"><span uk-icon="github-alt"></span><span> Src</span></a>
        {% endif %}
        {% if include.data.android-url %}
        <a class="uk-button uk-button-default uk-button-small" href="{{ include.data.android-url }}"
           target="_blank"><span uk-icon="android-robot"></span></a>
        {% endif %}
        {% if include.data.ios-url %}
        <a class="uk-button uk-button-default uk-button-small" href="{{ include.data.ios-url }}" target="_blank"><span uk-icon="apple"></span></a>
        {% endif %}
        {% if include.data.youtube-url %}
        <a class="uk-button uk-button-default uk-button-small" href="https://youtu.be/{{ include.data.youtube-url }}" target="_blank"><span uk-icon="youtube"></span></a>
        {% endif %}
    </div>
</div>