<h1 id="Education">Education - Courses & Certifications</h1>
<div class="uk-card uk-card-body uk-height-xlarge uk-card-default">
    <div uk-filter="target: .js-filter">
        <ul class="uk-subnav uk-subnav-pill">
            <li class="uk-active" uk-filter-control><a href="#">All</a></li>
            <li uk-filter-control="[category*='course']"><a href="#">Course</a></li>
            <li uk-filter-control="[category*='certification']"><a href="#">Certification</a></li>
            <!--<li uk-filter-control="[category='other']"><a href="#">Other</a></li>-->
        </ul>
        <ul class="js-filter uk-list uk-list-divider">
            {% assign ordered_certifications = site.certifications | sort: "date" | reverse %}
            {% for certification in ordered_certifications %}
            <li category="{{ certification.category | default: 'other' }}">
                <div>
                    <a href="{{certification.link}}">{{certification.date | date_to_long_string}} - {{
                        certification.title
                        }}</a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>