<h1 class="rb-section-title" id="About">{{ site.data.home.about.title }}</h1>
<div class="uk-card uk-card-body uk-card-default rb-section-card">
    <ul class="uk-list rb-about-list rb-about-list-centered">
        {% for item in site.data.home.about.items %}
        <li class="rb-highlight rb-about-item">
            <span class="rb-about-emoji">{{ item.emoji }}</span>
            {% if item.type == "experience" %}
            {{ item.prefix }} <span id="manyYears">Years</span> {{ item.suffix }}
            {% else %}
            {{ item.content }}
            {% endif %}
        </li>
        {% endfor %}

        <script>
            const years = new Date().getFullYear() - {{ site.data.home.about.career_start_year }};
            document.getElementById("manyYears").textContent = years;
        </script>
    </ul>
</div>
