<h1 id="About">{{ site.data.home.about.title }}</h1>
<div class="uk-card uk-card-body uk-card-default">
    <ul class="uk-list">
        {% for item in site.data.home.about.items %}
        <li class="rb-highlight">
            {{ item.emoji }}
            {% if item.type == "experience" %}
            {{ item.prefix }} <span id="manyYears">Years</span> {{ item.suffix }}
            {% else %}
            {{ item.content }}
            {% endif %}
        </li>
        {% endfor %}

        <script>
            const years = new Date().getFullYear() - {{ site.data.home.about.career_start_year }};
            document.getElementById("manyYears").textContent = years;
        </script>
    </ul>
</div>
