<h1 id="About">About</h1>
<div class="uk-card uk-card-body uk-card-default">
    <ul class="uk-list">
        <li class="rb-highlight-5">🔢 <span>Senior Software Engineer</span>, i've been working in the industry for
            <span id="manyYears">Years</span> years.
        </li>

        <script>
            const years = new Date().getFullYear() - 2013;
            document.getElementById("manyYears").textContent = years;
        </script>

        <li class="rb-highlight-5">🕹 Currently working developing <span>Video Games</span> as a contractor, working
            remotely from 🇧🇷.
        </li>

        <li class="rb-highlight-5">🔧 Previously worked at <span>Wooga</span><a
                href="https://www.wooga.com/">[↗️]</a> -
            Berlin 🇩🇪 for 5 years as full time employee.
        </li>

        <li class="rb-highlight-5">🔨 Also worked at <span>Tapps Games</span><a
                href="http://tappsgames.com/">[↗️]</a> -
            São Paulo, and <span>LSBD</span><a href="https://lsbd.ufc.br/">[↗️]</a> - Fortaleza.
        </li>

        <li class="rb-highlight-1">💻 I use <span>Unity3D</span>, <span>C#</span> and <span>Git</span> daily.</li>

        <li class="rb-highlight-1">⚙️ Also use to some extent: <span>C</span>, <span>C++</span>,
            <span>Typescript</span>, <span>Javascript</span>, <span>OpenGL</span>, <span>Direct3D</span>, <span>Google
                Cloud</span>, <span>Lua</span> and <span>Python</span> for projects.
        </li>

        <li class="rb-highlight-1">🎨 I like to do Vector Art with <span>Inkscape</span>, Pixel Art with
            <span>Aseprite</span>, Textures with <span>GIMP</span> and 3D Models with <span>Blender</span>.
        </li>

        <li class="rb-highlight-2">🎓 Graduated in <span>Computer Science</span> at <span>Universidade
                Federal do Ceará (UFC)</span>.
        </li>

        <li class="rb-highlight-2">📚 Master Degree with emphasys in <span>Computer Graphics</span> and <span>Virtual
                Reality</span> at <span>UFC</span>.
        </li>

        <li class="rb-highlight-3">🤖 Upholder of <span>Automation</span>, <span>Testing</span> and <span>Continuous
                Integration</span>/<span>Continuous Delivery</span>.
        </li>

        <li class="rb-highlight-3">💬 I like to talk about <span>Science</span>, <span>Math</span>,
            <span>Computer Science</span> and <span>Technology</span>. Also send me pictures of your pets.
        </li>

        <li class="rb-highlight-4">🪁 Hobbies include <span>DIY Projects</span> and <span>Playing
                Videogames</span>. Also my site has a <span>Cooking Recipes</span><a href="recipes/">[↗️]</a> section.
        </li>

        <li class="rb-highlight-4">🐈 I have two cats: <span>Cake</span> and <span>Fionna</span>. Yes, it's from
            Adventure Time.
        </li>
    </ul>
</div>
