<div class="uk-card uk-card-body uk-height-xlarge uk-card-default">
    <img class="uk-border-circle uk-align-center" src="https://avatars2.githubusercontent.com/u/6434768?s=460"
         style="max-width: 12rem; max-height: 12rem;"/>
    <div class="uk-text-center">

        <div class="uk-text-large uk-text-bold">Ricardo Bustamante</div>
        <br/>
        <div>I am a Software Engineer from Fortaleza CE, Brazil.<br/>
            Currently working as a Game Developer.
        </div>
        <br/>
        {% include links.html %}
    </div>
</div>
