<div class="uk-card uk-card-body uk-height-xlarge uk-card-default">
    <img class="uk-border-circle uk-align-center" src="{{ site.data.home.profile.avatar }}"
         style="max-width: 12rem; max-height: 12rem;"/>
    <div class="uk-text-center">

        <div class="uk-text-large uk-text-bold">{{ site.data.home.profile.name }}</div>
        <div class="uk-text-medium uk-text-bold">(aka {{ site.data.home.profile.nickname }} {% include icon/busta.html width="15px" %})</div>
        <br/>
        <div>{{ site.data.home.profile.intro }}<br/>
        </div>
        <br/>
        {% include links.html %}
    </div>
</div>
