<div class="uk-card uk-card-body uk-height-xlarge uk-card-default">
    <img class="uk-border-circle uk-align-center" src="https://avatars2.githubusercontent.com/u/6434768?s=460"
         style="max-width: 12rem; max-height: 12rem;"/>
    <div class="uk-text-center">

        <div class="uk-text-large uk-text-bold">Ricardo Bustamante</div>
        <div class="uk-text-medium uk-text-bold">(aka Busta {% include icon/busta.html width="15px" %})</div>
        <br/>
        <div>I am a Senior Software Engineer and Game Developer from Fortaleza CE, Brazil.<br/>
        </div>
        <br/>
        {% include links.html %}
    </div>
</div>
