@import "uikit/uikit";
@import "monokai";

$dark-color: #27272B;
$light-color: #dddddd;

$title-height: 10rem;
$nav-height: 3rem;

body{
    color: black;
    background-color: $light-color;
}

header{
    text-align: center;
    vertical-align: middle;
    font-size: 3rem;
    background-color: $dark-color;
    color: $light-color;
    line-height: $title-height;
    height: $title-height;
}

footer{
    text-align: center;
    vertical-align: middle;
    line-height: $title-height;
    height: $title-height;
    background-color: $dark-color;
    color: $light-color;
}