// 1. Your custom variables and variable overwrites.
$primary-color: #22272e;
$secondary-color: #2d333b;

$highlight-color-1: #32d296;
$highlight-color-2: #1e87f0;
$highlight-color-3: #faa05a;
$highlight-color-4: #f0506e;
$highlight-color-5: #9D5CCC;

$global-inverse-color: #adbac7;
$global-emphasis-color: #eee;

$global-muted-background: $secondary-color;
$global-primary-background: $primary-color;
$global-link-color: $primary-color;
$global-link-hover-color: $primary-color;
$global-secondary-background: $secondary-color;

$rb-button-background-color: #373e47;
$rb-border-color: #ccd9e61a;
$rb-border-radius: 6px;
$rb-entry-card-border-color: #444c56;

// 2. Import default variables and available mixins.
@import "uikit/variables-theme.scss";
@import "uikit/mixins-theme.scss";

// 3. Your custom mixin overwrites.
@mixin hook-card() { 
    color:$global-inverse-color;
}
@mixin hook-inverse-subnav-pill-item(){
    border-radius: 5px;
    color: $global-inverse-color;
}
@mixin hook-inverse-subnav-pill-item-hover(){
    background-color: $secondary-color; 
    color: $global-inverse-color;
}
@mixin hook-inverse-subnav-pill-item-onclick(){}
@mixin hook-inverse-subnav-pill-item-active(){
    background-color: $secondary-color;
    color: $highlight-color-1;
}

@mixin hook-inverse-button-default(){
    background-color: $rb-button-background-color;
    border-color: $rb-border-color;
    color: $global-inverse-color;
    border-radius: $rb-border-radius;
}

@import "uikit/uikit";
@import "monokai";

// 4. Your CSS

.rb-project-entry{
    border: 0px;
    padding: 5px;
}

.rb-blog-post img{
    display: block;
    max-width: 560px;
    margin-left: auto;
    margin-right: auto;
}

.rb-header-link{
    color:$global-link-color;
    text-decoration:none;
    transition:.4s
}
  
.rb-header-link:hover{
    text-decoration:none;
    text-shadow:0 0 5px #1e87f0;
    transition:.3s
}

.rb-highlight-1 > span{
    color: $highlight-color-1;
}

.rb-highlight-2 > span{
    color: $highlight-color-2;
}

.rb-highlight-3 > span{
    color: $highlight-color-3;
}

.rb-highlight-4 > span{
    color: $highlight-color-4;
}

.rb-highlight-5 > span{
    color: $highlight-color-5;
}

html {
    background-color: $secondary-color;
}