---
---
@import "main";

.blog-post img{
    display: block;
    max-width: 560px;
    margin-left: auto;
    margin-right: auto;
}

.header-link{
    color:rgba(255,255,255,0.9);
    text-decoration:none;
    transition:.4s
  }
  
  .header-link:hover{
    text-decoration:none;
    text-shadow:0 0 5px #1e87f0;
    transition:.3s
  }