<div class="uk-card uk-card-body uk-card-default">
    <img class="uk-border-circle uk-align-center" style="max-width: 12rem; max-height: 12rem;"
        src="{{ site.url }}{{ site.baseurl }}/recipes/info.jpg" />
    <div class="uk-text-center">
        <div class="uk-text-large uk-text-bold">Ricardo Bustamante (aka Busta {% include icon/busta.html width="15px" %})</div>
        <br />
        <div>I am a Software Engineer from Fortaleza CE, Brazil.<br />
            I enjoy cooking as a hobby.</div>
        </dl>
        <br />
        {% include links.html %}
    </div>
</div>