---
layout: compress
---
<!doctype html>
<html lang="en">

    <head>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146839159-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-146839159-1');
        </script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="/favicon.ico?" rel="icon" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/assets/css/style.css">
        <script src="/assets/js/uikit/uikit.min.js"></script>
        <script src="/assets/js/uikit/uikit-icons.min.js"></script>
        <title>{{ page.title }} - {{ site.title }}</title>
    </head>

    <body>

        {{ content }}

    </body>

</html>