---
layout: compress
---
<!doctype html>
<html lang="en">
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146839159-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-146839159-1');

        function toggleDarkMode() {
            document.body.classList.toggle('dark-mode');

            const isDark = document.body.classList.contains('dark-mode');
            localStorage.setItem('darkMode', isDark);
        }

        document.addEventListener('DOMContentLoaded', () => {
            if (localStorage.getItem('darkMode') === 'true') {
                document.body.classList.add('dark-mode');
            }
        });
    </script>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="{{ site.title }}" property="og:title"/>
    <meta content="{{ site.url }}/assets/images/preview.png" property="og:image"/>
    <meta content="{{ site.description }}" property="og:description"/>
    <meta content="{{ site.url }}" property="og:url"/>
    <meta content="1200" property="og:image:width"/>
    <meta content="627" property="og:image:height"/>
    <meta content="website" property="og:type"/>
    <link href="/favicon.ico?" rel="icon" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
    <link href="/assets/css/style.css" rel="stylesheet">
    <script src="/assets/uikit/js/uikit.min.js"></script>
    <script src="/assets/uikit/js/uikit-icons.min.js"></script>
    <title>{{ page.title }} - {{ site.title }}</title>
</head>

<body>

{{ content }}

{% include footer.html %}

</body>

</html>